{{define "dbCodeTemplateWPgx"}}

// BeforeDump allows you to edit result before dump.
type BeforeDump func(m *{{.DumpLoader.MainStructName}})

func New(db wpgx.WGConn, cache *dcache.DCache) *Queries {
	return &Queries{db: db, cache: cache}
}

type Queries struct {
	db    wpgx.WGConn
	cache *dcache.DCache
}

func (q *Queries) WithTx(tx *wpgx.WTx) *Queries {
	return &Queries{
		db:    tx,
		cache: q.cache,
	}
}

func (q *Queries) WithCache(cache *dcache.DCache) *Queries {
	return &Queries{
		db:    q.db,
		cache: cache,
	}
}

var Schema = {{$.Q}}
{{escape .RawSchemaSQL}}
{{$.Q}}
{{end}}
